/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8FAFC;
  font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}